<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danfoss</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="/css/assets/css/bootstrap.min.css">   
    
</head>
<div class="sticky-top"> 
    <header> 
                
        <div class="container-fluid ">
            <div class="container bg-info">

                <div class="row d-flex justify-content-center">
                    <div class="col-6 col-md-3 col-lg-2">
                        <div style="height: 100px;" class="d-flex align-items-center">               
                            <img src="/img/voigtlogo.png" style="height: 70%;" class="img-fluid" alt="voigtlogo">
                        </div>
                    </div>

                    <div class="col-6 col-lg-2 d-none d-lg-block">
                        <div style="height: 100px;" class="d-flex justify-content-center" >  
                            <img src="/img/handshake.png" style="height: 100%;" alt="handshake" class="img-fluid">
                        </div>
                    </div>
                    
                    <div class="col-6 col-md-3 col-lg-2">
                        <div style="height: 100px;">  
                            <form action="../." ; class="d-flex justify-content-center  mb-2" >
                                <button id="topbutton" style="height: 90px; border: none;" class="d-flex justify-content-center align-items-center"> 
                                    <img src="/img/LHW-Logo.webp" style="height: 80%; border: none;"  alt="LHW Logo"  class="img-fluid d-flex justify-content-center">
                                </button>
                            </form> 
                        </div>
                    </div>

                    <div class="col-6 col-lg-2 d-none d-lg-block">
                        <div style="height: 100px;" class="d-flex justify-content-center">  
                            <img src="/img/handshake.png" style="height: 100%;" alt="handshake" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-6 col-md-3 col-lg-2 d-none d-md-block">
                        <img src="/img/danfosslogo.png" alt="danfbild" class="img-fluid">
                    </div>
                </div>
            </div>    
        </div>
    
    </header>
</div> 
<body  class="bg-primary">
    

<script src="/css/assets/js/bootstrap.bundle.min.js"></script>  
    

</body>

</html>