<%- include("layouts/default") %>
     
    <h1 class="kopfzeile">Auftrag wurde angelegt!</h1><br>

    <div class="kopfzeile">
      <form action="/download">
        <button type="submit">Bestellung download</button>
      </form>
    </div>
    <br>
     
    <div class="kopfzeile">
        <form action="/satzid">
          <button type="submit">Bestellung</button>
        </form>
      </div>
      <br>

     

    <div class="kopfzeile">
        <form action="../.">
          <button type="submit">home</button>
        </form>
      </div> <br>
   
      
    </div>
    <%- include("layouts/tables") %>