<%- include("layouts/default") %>
<div class="content">
  <div class="kopfzeile">
    <div>
      <div>
        <h1>ES KANN NUR EINEN GEBEN !</h1>
      </div>

        <form action="/index">
          <button type="submit">Home</button>
   +</form>
  