<%- include("layouts/default") %>

<h1>Kalkulation </h1><br><br>
<h3 style="color:white ;">hier wird gem. der 'internen Bestellung' ein Mailformular für Danfoss ausgelöst werden können, unter Einbeziehung der Aufträge und Stücklisten. Weiter soll im gleichen Schema der Labeldruck und die Datenblätter verwaltet bzw. zugeordnet werden (Qualitätssicherung)</h3>

<div class="kopfzeile">
  <form action="../.">
    <button type="submit">home</button>
  </form>
</div> <br>